.container{
    margin: 0 auto;
    width: 970px;
    background-color: grey;
}

img{
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.details{
    height: 300px;
    width: 600px;
    margin-left: 175px;
    border: 5px solid black;    
    margin-top: -20px;
    padding-top: 30px;
}

h2{
    margin-left: 175px;
}

p{
    font-size: 24px;
    margin-left: 40px;
}

#title{
    margin-top: 70px;
}